body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    color: #213231;
}
#nav{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(182, 178, 178);
    font-size: 15px;
}
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    height: 35px;
    background-color: #197278;
}
#backdrop{
    display: flex;
    justify-content:space-evenly;
    column-gap: 10px;
    margin: 40px;
    padding-top: 20px;
}
#right-bd{
    border-color: aqua;
    padding-top: 10vh;
    width: 55%;
}
#left-bd{
    border-color: aqua;
    border-width: 2px;
    width: 35%;
    text-align: center;
}
#h1{
    font-weight: 700;
    margin-bottom: 0;
}
#h3{
    font-weight: 600;
    margin-top: 8px;
}
button{
    background-color: #c44536;
    color: white;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 5px;
    margin-top: 30px;
    
}
button:hover{
    background-color: #b43527;
}
img{
    width: 300px;
    border-radius: 50%;
    border: 2px;
    border-color: #213231;
}
section#experience{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #edddd4;
    height: 400px;
    width: 100%;
}
div.horizontal-card{
    margin-left: 5%;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-color: #213231;
    margin-bottom: 5px;
    padding-left: 10px;
}
.horizontal-card>ul{
    margin-top: 5px;
    margin-bottom: 0;
}